<div class="gradient1">
    <p>Post Title Goes Right Here</p>
    <p>Posted by Admin on March 13, 2010 in Some Category</p>
</div>



<div class="side">
    <div class="row column">
        <div class="col">
            <h4>From the blog</h4>
            <ul>
                <li>Home</li>
                <li>Products</li>
                <li>About Us</li>
                <li>Contact</li>
            </ul>
        </div>
        <div class="col">
            <h4>From the blog</h4>
            <ul>
                <li>Home</li>
                <li>Products</li>
                <li>About Us</li>
                <li>Contact</li>
            </ul>
        </div>
        <div class="col">
            <h4>From the blog</h4>
            <ul>
                <li>Home</li>
                <li>Products</li>
                <li>About Us</li>
                <li>Contact</li>
            </ul>
        </div>
    </div>

    <div class="postcontainer">
        <div class="poster">
            <p>Posted by Admin on March 13, 2011 in Some Category | 30 Comments</p>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="images/Layer 63.jpeg" alt="..." width="190px" height="190px">
                    </a>
                </div>
                <div class="media-body">
                    <p> Curabitur blandit rutrum pharetra. Donec dictum felis eu eros pretium vulputate. Etiam quis nulla ac
                        turpis molestie tempus et in purus. Suspendisse potenti. Integer accumsan accumsan est, ac accumsan
                        nunc sollicitudin id. Pellentesque tortor lectus, faucibus vitae fermentum vitae, laoreet sit amet
                        erat. Cras luctus, turpis a suscipit venenatis, lorem lectus bibendum neque, quis congue dui tellus
                        in lorem. Praesent rhoncus euismod elementum. Pellentesque tempor, metus quis dignissim imperdiet,
                        risus mi volutpat massa, ut consequat eros lacus ultricies sapien. Phasellus lobortis blandit nunc,
                        sed vulputate enim vehicula vitae. Proin sed risus leo, eget commodo justo.</p>
                </div>
            </div>

            <div class="comments">
                <p>30 Comments</p>
            </div>


            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="images/Layer 63.jpeg" width="60" height="60" alt="Media Object">
                </a>

                <div class="media-body">
                    <h4 class="media-heading">Media heading</h4>
                    This is some sample text. This is some sample text. This is some sample text. This is some sample text. This is some sample
                    text. This is some sample text. This is some sample text. This is some sample text.

                    <div class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object" src="images/Layer 63.jpeg" width="60" height="60" alt="Media Object">
                        </a>

                        <div class="media-body">
                            <h4 class="media-heading">Media heading</h4>
                            This is some sample text. This is some sample text. This is some sample text. This is some sample text. This is some sample
                            text. This is some sample text. This is some sample text. This is some sample text.
                        </div>

                    </div>
                </div>

            </div>



            <div id="reply">
                <p>Live a reply</p>
            </div>
            <form class="form-horizontal" role="form">

                <div class="col-sm-4">
                    <input type="text" class="form-control inputstl" id="name1" placeholder="Name">
                    <input type="email" class="form-control inputstl" id="email1" placeholder="Email">
                    <textarea class="form-control inputstl" placeholder="Message" rows="5"></textarea>
                    <button type="submit pull-right">Send</button>
                </div>

            </form>

        </div>

    </div>



</div>

</div>